.container{
	display: flex;
	justify-content: center;
}
.section{
	width: 50%;
	padding: 0.5rem;
}
textarea{
	resize: none;
	width: 100%;
}

.output {
	width: 100%;
    background: white;
    height: 86%;
    outline: auto;
	max-height: 77vh;
	overflow-y: auto;
}